<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de Personas</h2>
            <form [formGroup]="formGroup">
                <div class="form-group">
                    <label for="tipoDocumento" >Tipo Identificacion</label>
                    <input name="tipoDocumento" type="text" formControlName="tipoDocumento" 
                    class="form-control" />
                    
                </div>
                <div class="form-group">
                    <label for="identificacion" >Identificacion</label>
                    <input name="identificacion" type="text" formControlName="identificacion" 
                    class="form-control" />
                    <div *ngIf="control.identificacion.errors" class="invalid-feedback">
                    <div *ngIf="control.identificacion.errors.required">Se requiere el numero de cedula</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nombreEstudiante" >NombreEstudiante</label>
                    <input name="nombreEstudiante" type="text" formControlName="nombreEstudiante"
                    class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="fechaNacimiento" >FechaNacimiento</label>
                    <input name="fechaNacimiento" type="text" formControlName="fechaNacimiento"
                    class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="nombreInstitucion" >NombreInstitucion</label>
                    <input name="nombreInstitucion" type="text" formControlName="nombreInstitucion"
                    class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="acudiente" >acudiente</label>
                    <input name="acudiente" type="text" formControlName="acudiente"
                    class="form-control"/>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary mr-1" 
                     (click)="onSubmit()" 
                    [disabled]="formGroup.invalid">Registrar
                    </button>
                    <button class="btn btn-secondary" type="reset">Cancel</button>
                </div>
                    
            </form>
        </div>
    </div>
</div>
