<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registro de Personas</h2>
            <form>
                <div class="form-group">
                    <label>Identificacion</label>
                    <input type="text" name="identificacion" [(ngModel)]="persona.identificacion"
                        class="form-control" />
                </div>
                <div class="form-group">
                    <select name="tipoDocumento">
                        <option value="1">RC</option> 
                        <option value="2">TI</option>
                     </select>
                     <input type="text" name="TipoDocumento" [(ngModel)]="persona.tipoDocumento" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>nombreEstudiante</label>
                    <input type="text" name="nombreEstudiante" [(ngModel)]="persona.nombreEstudiante" class="form-control" />
                </div>
                <div class="form-group">
                    <label>fechaNacimiento</label>
                    <input type="text" name="fechaNacimiento" [(ngModel)]="persona.fechaNacimiento"
                        class="form-control" />
                </div>
                <div class="form-group">
                    <label>nombreInstitución</label>
                    <input type="text" name="nombreInstitución" [(ngModel)]="persona.nombreInstitución" class="form-control" />
                </div>
                <div class="form-group">
                    <label>acudiente</label>
                    <input type="text" name="acudiente" [(ngModel)]="persona.nombreAcudiente" class="form-control" />
                </div>
                
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="add()">REGISTRAR</button>
                    <button class="btn btn-secondary" type="reset">CANCELAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
